body,h1, h2, ul, li, p, a {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'vollkorn', Arial, Helvetica, sans-serif;
  color: rgba(51, 51, 51, 1);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  flex-wrap: wrap;
}
h3 {
  font-size: 40px;
}
.img-sobre {
  width: 214px;
  margin: auto;
  display: block;
  max-width: 100%;
  flex-wrap: wrap;
}
.insu-img {
  margin: auto;
  display: block;
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-top: auto;
}
* {
  box-sizing: border-box;
}
h3 {
  font-weight: bold;
}

.menu .menu-nav {
  background-color: rgba(89, 138, 238, 1);
  margin: 0 auto;
  padding: 15px;
  display: flex;
  


}

.menu a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin-left: auto;
}
.menu a:hover {
  background-color: rgba(83, 131, 227, 1);
}
.sobre {
  border-top: 2px solid rgba(83, 131, 227, 1);
  border-bottom: 2px solid rgba(83, 131, 227, 1);
  max-width: 1000px;
  margin: 0 auto;
  padding: 240px 0;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
.sobre-inf {
  width: 500px;
  font-size: 20px;
  font-family: 'vollkorn', Arial, Helvetica, sans-serif;
  text-align: justify;
}
.conhecimento {
  border-bottom: 2px solid rgba(83, 131, 227, 1);
  max-width: 1000px;
  margin: 0 auto;
  padding: 200px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.conhecimento-t {
  width: 500px;
  font-size: 20px;
  font-family: 'vollkorn', Arial, Helvetica, sans-serif;
  text-align: justify;
}
.home {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
.icones {
  display: flex;
}
.ic {
  margin: 20px;
}

.Insurtech {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Insurtech-info {
  width: 500px;
  font-size: 20px;
  font-family: 'vollkorn', Arial, Helvetica, sans-serif;
  text-align: justify;
}

.globo {
  max-width: 1000px;
  margin: 0 auto;
  padding: 150px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.globo-info {
  width: 500px;
  font-size: 20px;
  font-family: 'vollkorn', Arial, Helvetica, sans-serif;
  text-align: justify;
}
.ef {
  border-bottom: 2px solid rgba(83, 131, 227, 1);
  max-width: 1000px;
  margin: 0 auto;
  padding: 150px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ef-info {
  width: 500px;
  font-size: 20px;
  font-family: 'vollkorn', Arial, Helvetica, sans-serif;
  text-align: justify;
}
.contato {
  max-width: 1000px;
  margin: 0 auto;
  padding: 150px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.in {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'vollkorn', Arial, Helvetica, sans-serif;
  color: rgba(51, 51, 51, 1);
  align-items: center;
}

.em {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'vollkorn', Arial, Helvetica, sans-serif;
  align-items: center;
}
.em a {
  text-decoration: none;
  margin: auto;
  color: rgba(51, 51, 51, 1);
}
.in a {
  text-decoration: none;
  margin: auto;
  color: rgba(51, 51, 51, 1);
}
.contato-info {
  margin: auto;
}

.git {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'vollkorn', Arial, Helvetica, sans-serif;
  align-items: center;
}
.git a {
  text-decoration: none;
  margin: auto;
  color: rgba(51, 51, 51, 1);
}
.git img {
  padding-right: 10px;
  align-items: center;
}

.menu-btn{
  display: block;
  color: white;
  width: 36px;
  height: 36px;
  border-top: 4px solid;
  margin: 20px 20px 0 0;
  float: left;
  position: relative;
  cursor: pointer;
  -webkit-backface-visibility: hidden;

}

.menu-btn::after, .menu-btn::before{
  content: '';
  display: block;
  height: 4px;
  margin-top: 6px;
  background: currentColor;
  position: relative;
  transition: transform .2s ease;
}

.menu-btn:hover{
  border-top-color: transparent;
}

.menu-btn:hover::after{
  margin-top: 0px;
  top: 2px;
  transform: rotate(45deg); 
}